nav
  .nav-wrapper
    a.brand-logo(href='#') Courses App
    ul#nav-mobile.right.hide-on-med-and-down
      li(class=isHome && 'active')
        a(href='/') Home
      li(class=isCourses && 'active')
        a(href='/courses') Courses
      
      if isAuth
        li(class=isAdd && 'active')
          a(href='/add') Add
        li(class=isProfile && 'active')
          a(href='/profile') Profile
        li(class=isCart && 'active')
          a(href='/cart') Cart
        li(class=isOrders && 'active')
          a(href='/orders') Orders
        li(class=isLogin && 'active')
          a(href='/auth/logout') Log Out
      else 
        li(class=isLogin && 'active')
          a(href='/auth/login#login') Log In
